<!DOCTYPE html>
<html>
<head>
    <style>html { font-size: 14px; font-family: Arial, Helvetica, sans-serif; }</style>
    <title></title>
    <link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.3.914/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.3.914/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.3.914/styles/kendo.material.mobile.min.css" />

    <script src="//kendo.cdn.telerik.com/2016.3.1028/js/jszip.min.js"></script>
    <script src="//kendo.cdn.telerik.com/2016.3.914/js/jquery.min.js"></script>
    <script src="//kendo.cdn.telerik.com/2016.3.914/js/kendo.all.min.js"></script>
</head>
<body>

        <div id="example">
            <div id="grid"></div>
            <script>
                $(document).ready(function() {
                    $("#grid").kendoGrid({
                        toolbar: ["excel"],
                        excel: {
                            fileName: "SNP Report.xlsx",
                            proxyURL: "/excel",
                            filterable: true
                        },
                        dataSource: {
                            dataType: "json",
                            transport: {
                                read: "/api/rsids"
                            },
                            sort: {
                                field: "Variations",
                                dir: "desc"
                            },
                            schema: {
                                data: function(response) {
                                    return response.results;
                                }
                            },
                            pageSize: 50
                        },
                        columns: [
                       { field: "Name", width: '190px', title: "Name" },
                       { field: "Description", width: '290px', title: "Short Description" },
                       { field: "Genotype", width: '190px', title: "Individual Genotype" },
                       { field: "Variations", width: '490px', title: "Genotype variations", encoded: false },
                         ],
                        height: 950,
                        filterable: true,
                        sortable: true,
                        pageable: {
                            refresh: true,
                            pageSizes: [25, 50, 100, 250],
                            buttonCount: 5
                        },
                        selectable: "multiple row",
                        allowCopy: true,
                        reorderable: true
                    });
                });
            </script>
</div>


</body>
</html>

