<!DOCTYPE html>
<html>
<head>
    <style>html { font-size: 14px; font-family: Arial, Helvetica, sans-serif; }</style>
    <title></title>
    <link rel="stylesheet" href="css/kendo.common-material.min.css" />
    <link rel="stylesheet" href="css/kendo.material.min.css" />
    <link rel="stylesheet" href="css/kendo.material.mobile.min.css" />

    <script src="js/jszip.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/kendo.all.min.js"></script>
<style>
.main {
    float: left;
    height: 950px;
    background-image: url('../images/dna-body.png');
    width: 350px;
    background-size:100%;

  }
.grid {
    width: 1050px;
    height: 1.3em;
    position: absolute;
    display: inline;
}
</style>
</head>
<body>

<div class="main">
    <div id="content">
    </div>
 </div>
	<div class="grid">
        <div id="example">
            <div id="grid"></div>
            <script>

                function exportExcel() {
			return '<a class="k-button" href="#" id="selectallelements" onclick="exportToExcel()">Export to Excel</a>';
                        
                }

                function exportToExcel() {
			var grid1 = $("#grid").data("kendoGrid");
			oldPageSize = grid1.dataSource.pageSize();
			grid1.dataSource.pageSize(grid1.dataSource.data().length);
                    	grid1.saveAsExcel()
                };

                $(document).ready(function () {



                    $("#grid").kendoGrid({

                        toolbar: [{
                            name: 'exportExcel1',
                            template: '#= exportExcel()#',
                        },
                        {
                            name:'lookupsnp',
                            template:'#= snplookup()#'
                        }
                        ],
                        excel: {
                            fileName: "SNP Report.xlsx",
                            proxyURL: "/excel",
                            filterable: true
                        },

                        dataSource: {
                            dataType: "json",
                            transport: {
                                read: "/api/rsids"
                            },
                            sort: {
                                field: "Variations",
                                dir: "desc"
                            },
                            schema: {
                                data: function(response) {
                                    return response.results;
                                }
                            },
                            pageSize: 50
                        },
                        columns: [
                       { field: "Name", width: '190px', title: "Name" },
                       { field: "Description", width: '290px', title: "Short Description" },
                       { field: "Genotype", width: '190px', title: "Individual Genotype" },
                       { field: "Variations", width: '490px', title: "Genotype variations", encoded: false },
                         ],
                        height: 950,
                        filterable: true,
                        sortable: true,
                        pageable: {
                            refresh: true,
                            pageSizes: [25, 50, 100, 250],
                            buttonCount: 5
                        },
                        selectable: "row",
                        allowCopy: true,
                        reorderable: true
                    });
                });
                function snplookup(e){
                            return '<a class="k-button" href="#" id="lookupsnp" onclick="snpedia()">Lookup on SNPedia</a>';
                        };
                        function snpedia(){
                            var entityGrid = $("#grid").data("kendoGrid");
                            var rows = entityGrid.select();
                            var rsid = rows[0].cells[0].innerText

                            var html = "https://bots.snpedia.com/index.php/"
                            var link = html.concat(rsid)
                            window.open(link);
                        };
            </script>
</div>
</div>


</body>
</html>

